In [89]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import json

In [62]:
top_mov = ['', '?offset=200', '?offset=400', '?offset=600', '?offset=800', '?offset=1000', '?offset=1200', '?offset=1400', '?offset=1600', '?offset=1800']
list_of_titles = []
list_of_revenue = []
for i in top_mov:
    rev_url = 'https://www.boxofficemojo.com/chart/top_lifetime_gross/{}'.format(i)
    rev_page = requests.get(rev_url)
    revsoup = BeautifulSoup(rev_page.content, 'html.parser')
    rev_title = revsoup.find_all('td', class_='a-text-left mojo-field-type-title')
#                             ('a', class_='a-link-normal')
    practice_titles =[]
    for title in rev_title:
        practice_titles.append(title.text)    
    list_of_titles_and_years = practice_titles#[15:-11]
#     list_of_titles_and_years
    for value in list_of_titles_and_years:
        #if value < "1000" or value > "2020": 
        list_of_titles.append(value)
    rev_money = revsoup.find_all('td', class_='a-text-right mojo-field-type-money')
#     practice_money = []
    for revenue in rev_money:
        list_of_revenue.append(revenue.text)

In [65]:
len(list_of_revenue)

2000

In [49]:
len(list_of_titles)

2000

In [70]:
top_gross = dict(zip(list_of_titles,list_of_revenue))
# top_gross

# new_list = {}
# # for key in list_of_titles
# new_list[keys] = 'Movie Title'
# new_list[value] = list_of_titles

title_dict = {'Movie Title': list_of_titles}
revenue_dict = {'Revenue': list_of_revenue}

In [81]:
top_titles = pd.DataFrame.from_dict(title_dict)
top_titles

                                     Movie Title
0     Star Wars: Episode VII - The Force Awakens
1                              Avengers: Endgame
2                                         Avatar
3                                  Black Panther
4                         Avengers: Infinity War
...                                          ...
1995                             Sherlock Gnomes
1996                             The Jungle Book
1997                                 Point Break
1998                                Biloxi Blues
1999                       Sense and Sensibility

[2000 rows x 1 columns]

In [82]:
top_rev = pd.DataFrame.from_dict(revenue_dict)
top_rev

           Revenue
0     $936,662,225
1     $858,373,000
2     $760,507,625
3     $700,059,566
4     $678,815,482
...            ...
1995   $43,242,871
1996   $43,229,904
1997   $43,218,387
1998   $43,184,798
1999   $43,182,776

[2000 rows x 1 columns]

In [88]:
top2000 = pd.concat([top_titles, top_rev], axis = 1)
top2000.set_index('Movie Title')

                                                 Revenue
Movie Title
Star Wars: Episode VII - The Force Awakens  $936,662,225
Avengers: Endgame                           $858,373,000
Avatar                                      $760,507,625
Black Panther                               $700,059,566
Avengers: Infinity War                      $678,815,482
...                                                  ...
Sherlock Gnomes                              $43,242,871
The Jungle Book                              $43,229,904
Point Break                                  $43,218,387
Biloxi Blues                                 $43,184,798
Sense and Sensibility                        $43,182,776

[2000 rows x 1 columns]

In [15]:
# creates 2 lists of top 2000 movie titles and their opening weekend for G/PG rated movies
url_for_mpaa = ['', '&offset=200', '&offset=400', '&offset=600', '&offset=800', '&offset=1000', '&offset=1200', '&offset=1400', '&offset=1600', '&offset=1800']
# list_of_titles = []
# list_of_revenue = []
list_of_pgmovies = []
list_of_pgrevenue = []
for i in url_for_mpaa:
    pg_url = 'https://www.boxofficemojo.com/chart/top_opening_wknd_by_mpaa/?by_mpaa=G%2FPG{}'.format(i)
    pg_page = requests.get(pg_url)
    pgsoup = BeautifulSoup(pg_page.content, 'html.parser')
    pg_title = rsoup.find_all('td', class_='a-text-left mojo-header-column mojo-truncate mojo-field-type-release mojo-cell-wide')
#                             ('a', class_='a-link-normal')
    practice_pg =[]
    for title in pg_title:
        practice_pg.append(title.text)    
    working_list_of_pgmovies = practice_pg#[15:-11]
#     list_of_titles_and_years
    for value in working_list_of_pgmovies:
        #if value < "1000" or value > "2020": 
        list_of_pgmovies.append(value)
    pg_money = rsoup.find_all('td', class_='a-text-right mojo-field-type-money mojo-estimatable')
#     practice_money = []
    for revenue in pg_money:
        list_of_pgrevenue.append(revenue.text)

In [54]:
len(list_of_pgmovies)

2000

In [53]:
len(list_of_pgrevenue[::3])

2000

In [23]:
pg_open_wknd = dict(zip(list_of_pgmovies, list_of_pgrevenue))

In [19]:
# creates 2 lists of top 2000 movie titles and their opening weekend for R rated movies
url_for_mpaa = ['', '&offset=200', '&offset=400', '&offset=600', '&offset=800', '&offset=1000', '&offset=1200', '&offset=1400', '&offset=1600', '&offset=1800']
# list_of_titles = []
# list_of_revenue = []
list_of_rmovies = []
list_of_rrevenue = []
for i in url_for_mpaa:
    r_url = 'https://www.boxofficemojo.com/chart/top_opening_wknd_by_mpaa/?by_mpaa=R{}'.format(i)
    r_page = requests.get(pg_url)
    rsoup = BeautifulSoup(r_page.content, 'html.parser')
    r_title = rsoup.find_all('td', class_='a-text-left mojo-header-column mojo-truncate mojo-field-type-release mojo-cell-wide')
#                             ('a', class_='a-link-normal')
    practice_r =[]
    for title in r_title:
        practice_r.append(title.text)    
    working_list_of_rmovies = practice_r#[15:-11]
#     list_of_titles_and_years
    for value in working_list_of_rmovies:
        #if value < "1000" or value > "2020": 
        list_of_rmovies.append(value)
    r_money = rsoup.find_all('td', class_='a-text-right mojo-field-type-money mojo-estimatable')
#     practice_money = []
    for revenue in r_money:
        list_of_rrevenue.append(revenue.text)

In [20]:
len(list_of_rmovies)

2000

In [39]:
len(list_of_rrevenue[::3])

2000

In [24]:
r_open_wknd = dict(zip(list_of_rmovies, list_of_rrevenue))
# combine r and pg open wknd to create scatter plot, popularity on x and revenue on y